
.header {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background-color: #5b036d;
    padding: 20px 10px;
  }
  
  
  .header a {
    float: left;
    color: rgb(248, 244, 244);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
 
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  

  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header-right {
    float: right;
  }
  
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  * {box-sizing:border-box}

.wrapper {
    margin: 0 auto;
    padding: 0 5%;
  }

.slideshow-container {
    height:auto;
    max-width: 1000px;
    margin-top: 50px;
    position: relative;
    align-items: center;
    background-color: #e6ffff;
}
.title{
    background-color: #e6ffff;
    margin-top: 50px;
    margin-left: 30px;
    padding: 30px;
    color: black;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    
  }

.description {
    margin-top: 50px;
    margin-left: 30px;
    width: 100%;
    padding: 20px;
    color: black;
    font-weight: bold;
    background-color: #e6ffff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    
}

.ethos_img {
    border-radius: 5%;
    float: right;
    width:  600px;
    height: 600px;
    object-fit: cover;
    box-shadow: 10px 10px 5px grey;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
    display:flexbox;
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgba(131, 120, 120, 0.815);
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}



/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.split {
    display: flex;
    flex-direction: row;
}
.split_footer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 90px;
    
}

.logo_size {
    margin-left: 30px;
    flex-wrap: wrap;
    float: left;
    width:  40px;
    height: 40px;
    object-fit: cover;
}

.promo_title {
    margin-left: 80px;
    width: 100%;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.promo {
    margin-left: 80px;
    width: 100%;
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}


/* Caption text */
.text {
    font-size: 25px;
    font-weight: bold;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.slides_img {
    border-radius: 5%;
    float: left;
    width:  600px;
    height: 600px;
    object-fit: cover;
    box-shadow: 10px 10px 5px grey;

}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}